<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/api" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
      </fieldset>
      <% if(weather !== null){ %>
        <ul>
            <li>
              <ul>
                <% for (let i = 0; i < weather.dailies.length; i++) { %>
                  <li>date : <%= weather.dailies[i].dt %></li>
                  <li><%= weather.dailies[i].icon %></li>
                  <li><%= weather.dailies[i].tempDays %></li>
                  <li><%= weather.dailies[i].min %></li>
                  <li><%= weather.dailies[i].max %></li>
                  <li><%= weather.dailies[i].night %></li>
                  <li>feels_like_day<%= weather.dailies[i].feels_like_day %></li>
                  <li><%= weather.dailies[i].feels_like_night %></li>
                  <li><%= weather.dailies[i].feels_like_eve %></li>
                  <li><%= weather.dailies[i].feels_like_morn %></li>
                  <li>humidity <%= weather.dailies[i].humidity %></li>
                  <li>speed <%= weather.dailies[i].wind_speed %></li>
                  <li>weather main<%= weather.dailies[i].weather_main %></li>
                  <li>icon <%= weather.dailies[i].weather_icon %></li>
                  <li>sunrise : <%= weather.dailies[i].sunrise %></li>
                  <li>sunset <%= weather.dailies[i].sunset %></li>
                  --

                <% } %>
              </ul>
            </li>
        </ul>
      

        

      <% } %>
      <% if(error !== null){ %>
        <p><%= error %></p>
      <% } %>
  </body>
</html>