<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Weather App</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="navbar">
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/api">7 days</a>

  </div>

  <!-- <div class="container"> -->

  <fieldset>
    <form action="/api" method="post">
      <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
      <input type="submit" class="ghost-button" value="Get Weather">
    </form>
  </fieldset>

  <% if(weather !== null){ %>
    <!-- <ul>
        <li>lon:  <%= weather.lon %></li>
        <li>timezone: <%= weather.timezone %></li>
        <li>timezoneoffset: <%= weather.timezoneoffset %></li>
        <li>// currents</li>
        <li>dt: <%= weather.dt %></li>
        <li>sunrise: <%= weather.sunrise %></li>
        <li>sunset: <%= weather.sunset %></li>
        <li>temp: <%= weather.temp %></li>
        <li>feels_like: <%= weather.feels_like %></li>
        <li>pressure: <%= weather.pressure %></li>
        <li>humidity: <%= weather.humidity %></li>
        <li>dew_point: <%= weather.dew_point %></li>
        <li>uvi: <%= weather.uvi %></li>
        <li>clouds: <%= weather.clouds %></li>
        <li>visibility: <%= weather.visibility %></li>
        <li>wind_speed: <%= weather.wind_speed %></li>
        <li>wind_deg: <%= weather.wind_deg %></li>
        <li>wind_gust: <%= weather.wind_gust %></li>
        <li>main: <%= weather.icon %></li>
        <li>main: <%= weather.dt %></li> -->
        // daily
        <main>
          <section class="cards">
            <% for (let i = 0; i < weather.dailies.length; i++) { %>
              <div class="card">
                <div class="card__content">
                  <div class="card__info">
                    <p class="text--medium"><%= weather.dailies[i].dt %></p>
                    <p class="card__price text--max"><%= weather.dailies[i].max %> °</p>
                  </div>
                </div>
                <div class="card__image-container">
                  <img
                    src="<%= weather.dailies[i].icon %>"
                    alt="Detailed image description would go here."
                  />
                </div>
                <div class="card__content">
                  <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
                    <div class="two-third">
                      
                      <div class="stat"><%= weather.dailies[i].sunrise %> H</div>
                      <div class="stat-value">Levée du soleil</div>
                    </div>
            
                    <div class="two-third">
                      <div class="stat"><%= weather.dailies[i].sunset %> H</div>
                      <div class="stat-value">couché du soleil</div>
                    </div>
                  </div>
                  <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
                    <div class="one-third">
                      <div class="stat"><%= weather.dailies[i].min %> %</div>
                      <div class="stat-value">Humidité</div>
                    </div>
            
                    <div class="two-third">
                      <div class="stat"><%= weather.dailies[i].wind_speed %> km/h</div>
                      <div class="stat-value">Vents</div>
                    </div>
                  </div>
                  <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
                    <div class="one-third">
                      <div class="stat"><%= weather.dailies[i].min %> °</div>
                      <div class="stat-value">Min</div>
                    </div>
            
                    <div class="one-third">
                      <div class="stat"><%= weather.dailies[i].max %> °</div>
                      <div class="stat-value">Max</div>
                    </div>
            
                    <div class="one-third no-border">
                      <div class="stat"><%= weather.dailies[i].night %> °</div>
                      <div class="stat-value">nuit</div>
                    </div>
                  </div>
                  <!-- <div class="card__info">
                    <p class="text--medium">30 Min</p>
                    <p class="card__price text--medium">Free</p>
                  </div> -->
                </div>
              </div>
                

              <!-- <li><%= weather.dailies[i].dt %></li>
              <li><%= weather.dailies[i].icon %></li>
              <li><%= weather.dailies[i].tempDays %></li>
              <li><%= weather.dailies[i].min %></li>
              <li><%= weather.dailies[i].max %></li>
              <li><%= weather.dailies[i].night %></li> -->
            <% } %>
          </section>
        </main>
  
    
  <% } %>
  <% if(error !== null){ %>
    <p><%= error %></p>
  <% } %>
</body>
</html>