<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Weather App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="navbar">
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/api">7 days</a>

  </div>

  <!-- <div class="container"> -->

  <fieldset>
    <form action="/api" method="post">
      <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
      <input type="submit" class="ghost-button" value="Get Weather">
    </form>
  </fieldset>
  <% if(weather !== null){ %>
  <section class="card-container">
    <% for (let i = 0; i < weather.dailies.length; i++) { %>

    <article class="card">
      <header class="">
        <h3><%= weather.dailies[i].dt %></h3>
      </header>
      <figure class="">

      </figure>
      <main class="">
        <div id='today-extra'>
          <div>

            <div class='temp'>
              <span class='hi'>24</span>
            </div>
          </div>
          <div class='humidity'>
            <span>20</span>
          </div>
          <div class='wind'>
            <span>5</span>
          </div>
        </div>



        <!-- <p><%= weather.dailies[i].icon %></p> -->
        <p>temperature<%= weather.dailies[i].tempDays %></p>
        <p>min<%= weather.dailies[i].min %></p>
        <p>max <%= weather.dailies[i].max %></p>
        <p>night<%= weather.dailies[i].night %></p>
        <!-- <p>feels_like_day<%= weather.dailies[i].feels_like_day %></p> -->
        <!-- <p><%= weather.dailies[i].feels_like_night %></p>
        <p><%= weather.dailies[i].feels_like_eve %></p>
        <p><%= weather.dailies[i].feels_like_morn %></p> -->
        <p>humidity <%= weather.dailies[i].humidity %> %</p>
        <p>vent <%= weather.dailies[i].wind_speed %></p>
        <!-- <p>weather main<%= weather.dailies[i].weather_main %></p> -->
        <!-- <p>icon <%= weather.dailies[i].weather_icon %></p> -->
        <p>sunrise : <%= weather.dailies[i].sunrise %></p>
        <p>sunset <%= weather.dailies[i].sunset %></p>

      </main>
    </article> <% } %>
  </section>
  <% } %>
  <% if(error !== null){ %>
  <p><%= error %></p>
  <% } %>
</body>
<style>
  #time {
height: 150px;
line-height: 150px;
text-align: center;
font-size: 64px;
}

#today-extra {
width: auto;
height: 150px;
background: #E06C6C;
color: #FAFDF6;
}

#today-extra div > svg {
margin-top: 12px;
height: 83.33333px;
}

.humidity > span:after {
content: '%';
}

.wind > span:after {
content: ' km/h';
}

#days {
/* width: 840px;
height: 250px; */
}

#days > div > svg {
height: 83.33333px;
}

#days > div > div {
height: 29px;
line-height: 29px;
}

.day {
color: #E06C6C;
text-transform: uppercase;
margin-top: 55px;
}

.temp {
font-size: 24px;
}

.temp > span:after {
content: "\00b0";
}

.temp > .low:before {
content: '/ ';
}



.flex-parent, #weather-card, #weather-card > div:not(:first-of-type), #days > div, #today-extra > div {
display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
}

.flex-column, #weather-card, #days > div, #today-extra > div {
flex-direction: column;
-webkit-flex-direction: column;
}

.flex-center, #days > div, #today-extra > div {
align-items: center;
-webkit-align-items: center;
}

/*.flex-child{
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
}*/
#weather-card {
position: absolute;
left: 50%;
transform: translate(-50%, 10%);
-webkit-transform: translate(-50%, 10%);
-moz-transform: translate(-50%, 10%);
-ms-transform: translate(-50%, 10%);
-o-transform: translate(-50%, 10%);
transform: translate(-50%, 10%);
overflow: hidden;
width: 420px;
height: 550px;
background: #F0F0F0;
box-shadow: 0 3px 10px 0 rgba(116, 114, 114, 0.5);
}

#weather-card > div:not(:first-of-type) {
flex-direction: row;
-webkit-flex-direction: row;
}

#weather-card > div:not(:first-of-type) > div {
width: 140px;
}

</style>
</html>