<%- include('partials/header') %>
<form class="w-full max-w-sm" action="/" method="post">
  <div class="autocomplete" data-type="chartdays">
    <label>ici
      <input type="text" name="city" class="autocomplete-input mt-auto  focus:border-purple-500"
        placeholder="exemple : Lille">
    </label>
    <button
      class="flex-shrink-0 bg-teal-500  hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-indigo-600 py-1 px-2 rounded"
      type="submit">
      Validation
    </button>
    <button
      class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-indigo-600 font-bold py-2 px-4 rounded"
      type="submit">
      Valider
    </button>

    <section class="autocomplete-results hidden">
    </section>
  </div>


</form>

<% if(weather !== null){ %>

<!-- <div>
  <canvas id="myChart" style="width: 100%;" height="400"></canvas>
</div> -->

<canvas id="myChart" style="width: 100%;" height="400"></canvas>

<div class="grid grid-cols-3 gap-4">
  <% for (let i = 0; i < weather.dailies.length; i++) { %>
  <%= weather.req %>
  <div class="max-w-sm rounded overflow-hidden shadow-lg w-full"
    data-weather="<%= JSON.stringify(weather.dailies[i]) %>">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%= weather.dailies[i].dt %></div>
    </div>
    <div class="px-2">
      <div class="flex -mx-2">
        <div class="w-1/3 px-2">
          <div class="h-16">
            <h1 class="text-center"><%= weather.dailies[i].min %></h1>

            <span class="font-normal block uppercase w-auto rounded-full font-semibold text-indigo-600 tracking-wide mt-1
               text-center ">Min</span>
          </div>
        </div>
        <div class="w-1/3 px-2">
          <div class="h-16">
            <h1 class="text-center"><%= weather.dailies[i].max %></h1>
            <span class="font-normal block uppercase w-auto rounded-full font-semibold text-indigo-600 tracking-wide mt-1 
              text-center ">Max</span>
          </div>
        </div>

        <div class="w-1/3 px-2">
          <div class="h-16">
            <h1 class="text-center"><%= weather.dailies[i].night %></h1>
            <span class="font-normal block uppercase w-auto rounded-full font-semibold text-indigo-600 tracking-wide mt-1 
              text-center ">Max</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
<% } %>

<script>
  const weatherElements = document.querySelectorAll('[data-weather]') // je recupere le dataset => (data-weather)
  const weatherPoints = [...weatherElements].map((weatherElement) => JSON.parse(weatherElement.dataset.weather))
  const dataMin = weatherPoints.map((weatherPoint) => weatherPoint.min)
  const dataMax = weatherPoints.map((weatherPoint) => weatherPoint.max)
  const dataNight = weatherPoints.map((weatherPoint) => weatherPoint.night)
  const dataDate = weatherPoints.map((weatherPoint) => weatherPoint.dt)
  // charts
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: dataDate,
      datasets: [{
          // max
          label: 'Temp min',
          data: dataMax,
          borderColor: [
            '#ff6150',
          ],
          pointBackgroundColor: '#ff6150',
          pointRadius: 4,

        },
        {
          // min
          label: 'Temp max',
          data: dataMin,
          borderColor: [
            '#3498db',
          ],
          pointBackgroundColor: '#3498db',
          pointRadius: '4'
        },
        {
          // Temperature de nuit
          label: 'Temp night',
          data: dataNight,
          borderColor: [
            '#6C49B8'
          ],
          pointBackgroundColor: '#6C49B8',
          pointRadius: '4'
        }
      ]
    },
    options: {
      layout: {
        padding: 10,
      },
      legend: {
        position: 'bottom' // Les dates penché responsive
      },
      responsive: true,
      responsiveAnimationDuration: 0,
      maintainAspectRatio: true,
      aspectRatio: 2,
      animation: {
        animateScale: true,
        animateRotate: true
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>
</div>


<%- include('partials/footer') %>