<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Entrer la ville" required>
          <input type="submit" class="ghost-button" value="Validation">
        </form>
        <% if(weather !== null){ %>
        <div class="card">
          <h2> <%=weather.name %></h2>
          <h2><%= weather.description %></h2>
          <!-- <h3><span> <span class="dot">•</span> Precip</span></h3> -->
          <h1><%= weather.temp %>°</h1>
          <div class="sky">
            <img class="image" src="<%= weather.icon %>" alt="">
          </div>
          <table>
            <tr>
              <td><img class="leve" src="../img/img1.png"></td>
              <td><img class="coucher" src="../img/img2.png"></td>
              <td><img class="wind" src="../img/wind.png"></td>
              <td><img class="wind" src="../img/humidity.png"></td>
              <td>SAT</td>
            </tr>
            <tr>
              <td><%= weather.sunrise %></td>
              <td><%= weather.sunset %></td>
              <td><%= weather.speed %>km/h</td>
              <td><%= weather.humidity %>%</td>
              <td>37°</td>
            </tr>
          </table>
        </div>
            <!-- <p><%= JSON.stringify(weather) %></p> -->            
          <% } %>
        </div>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
  </body>
</html>