<%- include('partials/header') %>
<div class="">
  <form class="w-full max-w-sm" action="/" method="post">
    <div class="flex items-center border-b border-teal-500 py-2">
      <input name="city"
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        type="text" placeholder="exemple : Lille" aria-label="Full name">
         <!-- Autocomplete -->
      <div class="autocomplete">
        <label>
            <input type="text" name="city" class="autocomplete-input">
        </label>

        <section class="autocomplete-results hidden">
        </section>
      </div>

      <button type="button">Valider</button>

      <div class="result" id="result" style="margin-top: 400px">
          Résultat de l'API
      </div>
      <button
        class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
        type="submit">
        Validation
      </button>
    </div>
  </form>
  <div class="relative container mt-5">
    <% if(weather !== null){ %>
    <div class="">
      <div class="flex flex-wrap w-full lg:w-auto">
        <div class="w-full lg:w-1/2 flex rounded-lg">
          <div class="rounded-lg py-6 pl-8 pr-32 w-full text-white bg-blue-200">
            <div class="mb-20">
              <h2 class="font-bold text-3xl leading-none pb-1">Tuesday</h2>
              <h3 class="leading-none pb-2 pl-1">15 Jan 19</h3>
              <p class="flex aling-center">
                <img class="w-5" src="/img/icons8-marker-32.png" alt="" srcset="">
                <%= weather.name %>
              </p>
              <span class="inline-block mr-2">Latitude <%= weather.lon %></span>
            <span class="inline-block  mr-2">Longitude <%= weather.lat %></span>
            </div>
            <div>
              <img class="image mb-2" src="<%= weather.icon %>" alt="">
              <strong class="leading-none text-6xl block font-weight-bolder"><%= weather.temp %>°C</strong>
              <b class="text-2xl block font-bold"><%= weather.description %></b>
            </div>
          </div>
        </div>

        <div class="w-full lg:w-1/2 flex ml-0">
          <div class="lg:my-3 bg-gray-800 text-white p-8 lg:rounded-r-lg w-full">
            <div class="flex justify-between w-64 mb-4 w-full">
              <div class="w-auto font-bold uppercase text-90">Precipitation</div>
              <div class="w-auto text-right"><%= weather.pressure %></div>
            </div>
            <div class="flex justify-between w-64 mb-4 w-full">
              <div class="w-auto font-bold uppercase text-90">Humidity</div>
              <div class="w-auto text-right"><%= weather.humidity %> %</div>
            </div>
            <div class="flex justify-between w-64 mb-8 w-full">
              <div class="w-auto font-bold uppercase text-90">Wind</div>
              <div class="w-auto text-right"><%= weather.speed %> km/h</div>
            </div>

            <div class="flex justify-between w-64 mb-8 w-full">
              <div class="w-auto font-bold uppercase text-90">Nuage</div>
              <div class="w-auto text-right"><%= weather.clouds %> %</div>
            </div>

            <div class="flex flex-row">
              <div class="flex flex-col w-1/4 bg-green-600 text-black rounded-lg pb-4">
                <div class="text-center font pt-2 mb-2">
                  <img class="w-16 mx-auto" src="/img/wind.svg" alt="" srcset="">
                </div>
                <div class="text-center">
                  <b class="font-normal"></b><br>
                  <strong class="text-xl"><%= weather.temp_min %></strong>
                </div>
              </div>

              <div class="flex flex-col w-1/4 bg-red-600 rounded-lg">
                <div class="text-center pt-2 mb-2">
                  <img class="w-16 mx-auto" src="/img/wind.svg" alt="" srcset="">
                </div>
                <div class="text-center">
                  <b class="font-normal">max</b><br>
                  <strong class="text-xl"><%= weather.temp_max %></strong>
                </div>
              </div>
              <div class="flex flex-col w-1/4 bg-gray-900 rounded-lg">
                <div class="text-center pt-2 mb-2">
                  <img class="w-16 mx-auto" src="/img/wind.svg" alt="" srcset="">
                </div>
                <div class="text-center">
                  <b class="font-normal">Sunset</b><br>
                  <strong class="text-xl"><%= weather.sunset %></strong>
                </div>
              </div>
              <div class="flex flex-col w-1/4 bg-gray-900 rounded-lg">
                <div class="text-center pt-2 mb-2">
                  <img class="w-16 mx-auto" src="/img/wind.svg" alt="" srcset="">
                </div>
                <div class="text-center">
                  <b class="font-normal">Sunrise</b><br>
                  <strong class="text-xl"><%= weather.sunrise %></strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
</div>